doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  body
    header.contentHeader
      a(href="/").titleLink
        h1= title
    block content