div.imageDisplay.js-imageDisplayContainer
  div.imageDisplay__inner.cf
    button.imageDisplay__closeBtn.js-closeBtn 
    button.imageDisplay__prevBtn.js-prevBtn
    button.imageDisplay__nextBtn.js-nextBtn
    div.imageDisplay__imageFlame.js-imageDisplay