* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    padding-bottom: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.cf:after {
    content: "";
    display: none;
    clear: both;
}

a {
    color: #00B7FF;
}
.titleLink {
    color: #fff;
    text-decoration: none;
}
.contentHeader {
    padding: 0 20px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: #fff;
    background-color: #333;
}
.sectionTitle {
    margin-top: 20px;
    padding: 0 30px;
}
.pictureDrop {
    position: relative;
    margin: 10px auto 0;
    height: 300px;
    width: calc(100% - 60px);
}
.pictureDrop__area {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px dotted #333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
}
.pictureDrop__area--isDragged {
    background-color: #00B7FF;
    opacity: 0.6;
}
.pictureDrop__text {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 0;
}
.uploadForms {
    margin-top: 30px;
    padding: 0 30px;
    height: 50px;
    width: 100%;
    background-color: #333;
    color: #fff;
}
.uploadForms__container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    width: 100%;
}
.uploadForms__form {
    display: none;
}
.uploadForms__label {
    padding: 5px 10px;
    height: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}
.uploadForms__label:hover {
    opacity: 0.7;
}
.isDisabled {
    opacity: 0.5;
    cursor: default !important;
}
.uploadForms__submit {
    position: relative;
    padding: 0 30px 0 10px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}
.uploadForms__submit:hover {
    opacity: 0.7;
}
.uploadForms__submit:before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 9px;
    height: 8px;
    width: 4px;
    background-color: #fff;
    transition: 0.35s;
}

.uploadForms__submit:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 0;
    width: 0;
    border-top: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    transition: 0.35s;
}
.uploadForms__submit:hover:before {
    top: 5px;
}
.uploadForms__submit:hover:after {
    top: 1px;
}
.thumbnailArea {
    display: inline-block;
    margin: -20px 0 0 -20px;
    padding: 20px 30px 0;
    width: 100%;
    text-align: center;
}
.thumbnailArea > li {
    display: inline-block;
    margin: 30px 0 0 30px;
    padding: 10px;
    width: 180px;
    height: 240px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    transition: 0.35s;
}
.thumbnailArea > li:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.thumbnailArea__thumbnail {
    display: block;
    width: 160px;
    height: 160px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.thumbnailArea__title {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #111;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
.showMore {
    display: block;
    position: relative;
    margin: 20px 30px 0 auto;
    padding: 5px 10px;
    border: 1px solid #00B7FF;
    height: 30px;
    width: 110px;
    overflow: hidden;
    cursor: pointer;
}
.showMore__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    transition: 0.35s;
}
.showMore__container:hover {
    left: -100%;
}
.showMore__top,
.showMore__bottom {
    width: 50%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    float: left;
}
.showMore__bottom {
    background-color: #00B7FF;
    color: #fff;
}
.btnContainer {
    margin-top: 30px;
    padding: 10px 0;  
    background-color: #333;
}
.loadBtn {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: 1px solid #fff;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.loadBtn:hover {
    opacity: 0.7;
}
.loadBtn:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    right: 9px;
    height: 6px;
    width: 4px;
    background-color: #fff;
    transition: 0.35s;
}
.loadBtn:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 5px;
    height: 0;
    width: 0;
    border-top: 7px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: none;
    transition: 0.35s;
}
.loadBtn:hover:before {
    top: 12px;
}
.loadBtn:hover:after {
    top: 17px;
}